img{
	border: none;
}
.app-wall {
	background: url('images/wallpaper.jpg') fixed no-repeat center;
	position: relative;
	overflow:hidden;
}
.app-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.app-container li {
	list-style: none;
	position: absolute;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	margin: 0;
}
.shortcut-container li img {
	display: block;
	margin: auto;
	border-radius: 3px;
}
.app-container li em {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	opacity: 0.12;
	filter: alpha(opacity=12);
}
.app-container li:hover em,
.app-container li.hover em,
.app-container li.select em {
	display: block;
}
.app-container li.focus em {
	display: block;
	opacity: 0.25;
	filter: alpha(opacity=25);
}
.app-container li span {
	position: relative;
	z-index: 1;
	display: inline-block;
	height: 20px;
	margin-top: 5px;
	padding: 0 8px;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/shortcut_text.png', sizingMethod='scale');
	_filter: none;
	_background: #1B3E65;
	cursor: default;
	_cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
}
/************************************************************/
.app-taskbar {
	padding: 0;
	height: 100%;
	width: 100%;
}
.app-taskbar-bg1 {
	background: url(images/taskbuttons-panel-bg.gif);
}
.app-taskbar-bg2 {
	background: url(images/taskbuttons-panel-bg2.gif);
}
.app-taskbar-calendar-x {
	vertical-align: middle;
	text-align: center;
	float: right;
	color: white;
	padding: 2px;
	text-align: center;
}
.app-taskbar-calendar-y {
	position: absolute;
	vertical-align: middle;
	text-align: center;
	bottom: 1px;
	color: white;
	text-align: center;
	bottom: 1px;
}
/******************************************************************/
a.app-startmenu-x:link,a.app-startmenu-x:visited {
	margin-left: 5px;
	float: left;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(images/start.png) left center no-repeat;
}
a.app-startmenu-y:link,a.app-startmenu-y:visited {
	margin-left: 4px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position:absolute; 
	top:4px;
	background: url(images/start.png) left center no-repeat;
}
a.app-startmenu-x:hover,a.app-startmenu-y:hover {
	background: url(images/start2.png) left center no-repeat;
}
.app-taskbar-split-h {
	float: left;
	width: 10px;
	height: 30px;
	background: url(images/taskbar-split-h.gif) left center no-repeat;
}
.app-taskbar-split-w {
	float: left;
	width: 30px;
	height: 10px;
	background: url(images/taskbar-split-w.gif) left center no-repeat;
}
/******************************************************************/